// any permissions relevant for most Alfresco Share versions
grant codeBase "file:\${catalina.base}/webapps/share/-" {
    // template loader looks up from server root somehow
    permission java.io.FilePermission "\${catalina.base}", "read";
    permission java.io.FilePermission "\${catalina.base}/logs", "read";
    permission java.io.FilePermission "\${catalina.base}/logs/*", "read,write";

    permission java.io.FilePermission "\${java.io.tmpdir}", "read";
    permission java.io.FilePermission "\${java.io.tmpdir}/-", "read,write,delete";

    // some reflection may be necessary (e.g. to apply patches to Alfresco code with restricted visibility)
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    // Rhino script engine creates a classloader for dynamically compiled scripts
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "getProtectionDomain";
    // any library may check an env setting
    permission java.lang.RuntimePermission "getenv.*";

    permission java.net.NetPermission "specifyStreamHandler";
    permission java.net.SocketPermission "*", "connect";

    permission java.security.SecurityPermission "insertProvider.*";
    permission java.security.SecurityPermission "putProviderProperty.*";

    // change made for SHA-2457 elevated the read permission requirement to read-write
    // Spring makes use of this during env initialisation
    permission java.util.PropertyPermission "*", "read,write";
};

// limited privileges for dropped in JAR extension modules
grant codeBase "file:/srv/alfresco/modules/-" {
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.net.SocketPermission "*", "connect";

    permission java.util.PropertyPermission "*", "read";
};
